*{
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

a{
    text-decoration: none;
    color: azure;
}
html,body{
    height: 100%;
    
}
h1,p{
    margin: 0;
}

.wrapper{
    height: 100%;
    background-color: #ccc;
    overflow: hidden;
}

.frontpage{
    width: 393px;
    height: 852px;
    background-color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.frontpage .image{
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 35%;
    overflow: hidden;
}

.frontpage .image img{
    height: 100%;
    display: block;
}

.frontpage .info{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding:64px 56px;
    height: 100%;
    justify-content: center;
}

.frontpage .title{
    font-size: 30px;
    font-weight: 300 bold;
    color: #444;
    white-space: nowrap;
    margin-bottom: 16px;
}

.frontpage .des1{
    font-size: 16px;
    color:#444;
    margin-bottom:10px
}

.frontpage .des2{
    font-size: 16px;
    color:#444;
    margin-bottom:20px
}

.frontpage .btn{
    padding: 12px 40px;
    /* line-height:24px; */
    text-align:center;
    text-decoration:none;
    font-size: 24px;
    background-color: #ACCCE0;
    border-radius: 24px;
    display: block;
    margin: 0 auto;
    width: 238px;
}